CommsScreen {
    background: $background;
    layers: sidebar screen base;

    #comms-content {
        width: 1fr;
        height: 1fr;
    }

    CommsChatView {
        height: 1fr;

        #comms-activity {
            height: auto;
        }

        .comms-activity {
            background: $primary-muted 20%;
            color: $text-primary;
            border-left: tall $primary;
            padding: 0 1;

            &:ansi {
                background: ansi_default;
                border-left: tall ansi_blue;
            }
        }
    }

    SideBar {
        border-right: tall $primary 30%;
        background: transparent;
        dock: left;
        overflow: hidden;
        scrollbar-size: 0 0;
        width: 40;
        max-width: 45%;
        min-width: 40;
        height: 1fr;

        &.-collapsed {
            width: 1;
            min-width: 1;
            max-width: 1;
            border-right: none;
        }

    }
}
